// Font Family
$font-family: (
	font-noto-sans: "'Noto Sans', sans-serif",
	font-poppins: "'Poppins', sans-serif",
	font-Roboto:"'Roboto', sans-serif",
);

$font-noto-sans: var(--font-noto-sans);
$font-poppins: var(--font-poppins);
$font-Roboto: var(--font-Roboto);


// Color
$colors: (
	color-primary:#1a73e8,
	color-white: #fff,
	color-soft-dark: #5f6368,
	color-black: #000,
	color-soft-green:#34a853,
	color-blue-white:#e8f0fe,
	color-alt-dark:#F8F9FA,
	color-alt-soft-dark:#3C4043,
	color-soft-blue:#e8f0fe,


	color-body: #252525,
	color-gray: #99999b,
	color-gray-2: #1D1D1D,
	color-off-white: #f5f5f5,
	color-off-white-2: #e5e5e5,
	color-off-white-3: #edecdc,
	color-dark: #2F2F2F,
	color-black-rgb: 0 0 0,
	color-white-rgb: 255 255 255,
	color-menu: #cccccc,
);

$color-primary: var(--color-primary);
$color-white: var(--color-white);
$color-soft-dark: var(--color-soft-dark);
$color-black: var(--color-black);
$color-soft-green:var(--color-soft-green);
$color-blue-white: var(--color-blue-white);
$color-alt-dark: var(--color-alt-dark);
$color-alt-soft-dark:var(--color-alt-soft-dark);
$color-soft-blue: var(--color-soft-blue);


$color-body: var(--color-body);
$color-gray: var(--color-gray);
$color-gray-2: var(--color-gray-2);
$color-off-white: var(--color-off-white);
$color-off-white-2: var(--color-off-white-2);
$color-off-white-3: var(--color-off-white-3);
$color-dark: var(--color-dark);
$color-black-rgb: var(--color-black-rgb);
$color-white-rgb: var(--color-white-rgb);
$color-menu: var(--color-menu);

// Breakpoints.
$breakpoints: (
	xs: 425px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px, 
	c1367: 1367px,
);
