/*==== start product-catalog css ====*/

.product-catalog-area{
    .catalog-wrapper{
        .single-product{
         padding: 10px;
         margin-right: 10px;
         img{
            border-radius: 20px;
         }
         h5{
            margin-top: 20px;
            font-size: 16px;
            font-weight: 700;
         }
        }
    }
}

/*==== ent product-catalog css ====*/